<%- include('template/cabecera', {titulo: 'PcMage - Buscar'}); %>
<body>
    <%- include('template/navbar'); %>
   <section class="cuerpo">
        <h2>Noticias</h2>
        <hr>
        <section class="noticiasBusqueda">
            <ul>
                <% noticias.forEach(function(noticia) { %>
                  <li>
                    <div  class="noticias-tips">
                        <img id="img" src="<%= noticia.img1 %>">
                        <a id="a" href="/noticias/<%= noticia.code %>"> <%= noticia.titulo %></a>
                    </div>
                  </li>
                <% }); %>
              </ul>
        </section>
    </section> 
    <%- include('template/footer'); %>
</body>

