<div class="row content" style="margin: 0;" id="cpu">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="gpu">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="ram">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="motherboard">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="storage">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="power supply">
    <%- include('componente'); %>
</div>
<div class="row content" style="margin: 0;" id="storage">
    <%- include('componente'); %>
</div>