<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="cpu">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="gpu">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="ram">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="motherboard">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="storage">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="power supply">
    <%- include('componente'); %>
</div>
<div class="row rounded-lg" style="margin: 10px; display: none; background-color: rgb(226, 203, 253);" id="case">
    <%- include('componente'); %>
</div>